<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.strategoxt.imp.debug.ui.str.launching.StrategoTabGroup"
            description="Run or debug a Stratego program"
            id="org.strategoxt.imp.debug.ui.launchConfigurationTabGroup.str"
            type="org.strategoxt.imp.debug.core.launchConfigurationType.str">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.strategoxt.imp.debug.core.launchConfigurationType.str"
            icon="icons/strategoxt_logo_16.png"
            id="org.strategoxt.imp.debug.ui.str.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.strategoxt.imp.debug.ui.str.launching.StrategoLaunchShortcut"
            icon="icons/strategoxt_logo_16.png"
            id="org.strategoxt.imp.debug.ui.launchShortcut.str"
            label="Stratego Program"
            modes="run, debug">
		<description
     		description="Runs a local Stratego program"
     		mode="run">
    	</description>
    	<description
     		description="Debugs a local Stratego program"
     		mode="debug">
    	</description>
     <contextualLaunch>
        <enablement>
           <with variable="selection">
             <count value="1"/>
              <iterate>
              	<adapt type="org.eclipse.core.resources.IResource">
	          		<test property="org.eclipse.core.resources.name" 
	                	value="*.str"/>
	       		</adapt>
              </iterate>
             </with>
        </enablement>
     </contextualLaunch>
     <configurationType
           id="org.strategoxt.imp.debug.core.launchConfigurationType.str">
     </configurationType>
            
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="org.strategoxt.imp.debug.ui.str.model.StrategoBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.strategoxt.imp.debug.ui.str.model.StrategoModelPresentation"
            id="org.strategoxt.imp.debug.core">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.strategoxt.imp.debug.ui.str.StrategoStatusHandler"
            code="0"
            id="org.strategoxt.imp.debug.core.str.launching.statusHandler"
            plugin="org.strategoxt.imp.debug.core">
      </statusHandler>
   </extension>
</plugin>
