<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="strjdbg" description="Strj-dbg-runtime-lib" language="Strj-dbg-runtime-lib" derivedFrom="DynamicRoot" validator="strjdbgruntimelib.StrjdbgruntimelibValidator" validatorClass="strjdbgruntimelib.StrjdbgruntimelibValidator"></language>
       </extension>
       <extension id="strjdbgruntimelib.parser" name="Strj-dbg-runtime-lib Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="strjdbgruntimelib.StrjdbgruntimelibParseController" language="Strj-dbg-runtime-lib">
          </parser>
       </extension>    
    </plugin>